<div class="layout-container">
  <aside class="sidebar">
    <nav>
      <!-- Κουμπί 1 -->
      <button (click)="goToHome()">
        Home →
      </button>
      <br>
      <!-- Κουμπί 2 (παράδειγμα με άλλο κείμενο) -->
      <button (click)="goToUpload()">
        csv template →
      </button>
      <br>
        <button (click)="goToNoCodeTemplate()">
        create template →
      </button>
      <br>
        <button (click)="goToBuildCsv()">
        Build Csv →
      </button>
    </nav>
  </aside>

  <main class="main-content">
    <!-- Το περιεχόμενο της σελίδας σας -->
  </main>
</div>